body{
    background-color: rgb(205, 227, 247);
}

.about-text{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-top: 1rem;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    border: 3.8px solid rgb(111, 111, 221);
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.about-title{
    font-size: 2rem;
    color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

