.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto; 
    padding: 10px;
    border: 3.8px solid rgb(196, 196, 242);
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.howtouse-section {
    padding:30px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: white;
    border-radius: 10px;
    border: 3.8px solid rgb(196, 196, 242);
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}