.fit-content{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.fit-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    background-color: #f0f8ff;
}

.fit-input1, .fit-input2, .fit-input3{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
    text-align: center;
    transition: 1 ease-in 0.3 ease-out;
}

.fit-input1, .fit-input2, .fit-input3:hover{
    
    background-color: whitesmoke;

}

.fit-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


